body{
    background-image: url(sunset.gif) ;
    background-size: cover;
    background-attachment: fixed;    
}
nav{
    height: 40px;
    font-weight: strong;
    font: 20px brown;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    text-align: center;
    
}
li{
   display: inline;
   vertical-align: middle;
}
a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover{
    background-color: yellow; 
    text-decoration: underline;
}
#imge h2{
   font: bold 60px cursive ;
   text-align: center;
   justify-content: center;
   color: black;
   display: flex;
}
.thelook{
   display: flex;   
   width: 90%;
   margin: 4em;
   justify-content: center;
}
.look{
    width: 60%;
}
#imge p {
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}
#imge{
    margin:8em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
   margin: 0;
}
#About{
    overflow: hidden;
    font-size: 30px;
    font-weight: bolder;
    font-family: Georgia;
    color: #033e3fee;
    margin:7em;
    background-color:rgba(171, 187, 133, 0.5);
}
#About p{
    font-size: 20px;
    color: white;
    text-align: justify;
    font-family: 'Lucida Sans';
    margin: 20px 60px;
}
#Hobby{
    margin:4em;
    padding: 3em;
    font-weight: bolder;
    font-family: Georgia;
    color: #1626a3ee;
    background-color: #bed860ee;
    justify-content: center;
    align-items: center;
}
h3,h4{
text-decoration: underline;
font-size: 30px;
text-align: center;
cursor: pointer;
}

.bob{
    font: 20px solid;
    color: rgb(25, 53, 137);
    text-align: justify;
}
.look2{
    width: 30%;
    height: 30%; 
}
.same{
   gap: 2rem;
   height: 60%;
   width: 60%;
    display: flex;
}
.bye{
    font: 20px solid;
    color: rgb(10, 115, 136);
    text-align: justify;
    margin: 2rem;
    line-height: 2rem;
}
.music a:link{
    color: rgb(110, 40, 176);
}
.music a:visited{
    color: rgb(6, 94, 16);
}
.music a:hover{
    color: red;
}
iframe{
    width:560px;
    height:315px;
    position: relative;
}

.hey{
    font: 25px solid #4dd224;
    text-align: justify;
    gap: 2em;
    justify-content: space-around;
    line-height: 2rem;
}
.images {
    display: flex;
    flex-wrap: wrap;
    width: 80%;

}
.images img{
    width: 40%;
    height: auto;
    margin: 20px 60px;
    margin-left: auto;
    margin-right: auto;
}
.music{
   position: relative;
    margin: 2em;
    padding: 2em;
   display: grid;
}
@media (max-width:1200px) {
    iframe{
        width:fit-content;
        height:fit-content;
    }
    #Hobby{
        margin: 3em;
       justify-content: center;
    }
}
@media (max-width:650px){
    iframe{
        width:fit-content;
        height:fit-content;
    }
    .thelook{
        width:100%;
        justify-content: center;
    }
    .imge{
        display: flex;
    flex-wrap: wrap; 
    margin: 0;   
    }
    #About{
        margin: 0;
    }

}
